<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- Jasypt doesnt work well with Hibernate 3.5.x -->
  <!-- <property name="connection.provider_class">org.jasypt.hibernate4.connectionprovider.EncryptedPasswordC3P0ConnectionProvider</property> -->
  <!-- <property name="connection.encryptor_registered_name">configurationHibernateEncryptor</property> -->
  
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.pool_size">1</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.cache.provider_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping resource="ib/jointops/hibernate/domain/Task.hbm.xml"/>
  <mapping resource="ib/jointops/hibernate/domain/Users.hbm.xml"/>
  <mapping resource="ib/jointops/hibernate/domain/Categories.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
